@page "/about"


<div class="container text-center ">
    <Image ImageUrl="Images/family.jpg"/>
</div>
<section class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Aylee's Story</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="justify-content-center">
                A human life is sacred, no matter how fragile or brief. Child loss is not something any parent dreams of facing,
                but for us, it has been our greatest burden to bear. When our son, Taylor, was 6 years old, we decided we were
                ready to expand our family. Not long after, with a positive pregnancy test in hand, I scheduled our first
                prenatal appointment. Though my husband, Jason, offered to go with me, I politely refused because it was
                just going to be a “normal” appointment. After laying on the ultrasound table with the tech searching
                desperately for a heartbeat, this appointment soon turned anything but normal.
            </p>
            <p class="justify-content-center">
                I was 8 weeks pregnant, but the baby on the screen had no heartbeat and stopped growing right at 6 weeks.
                The tech soon transferred me to my doctor’s office where she and her nurse informed me that the tech also
                found a large cyst on my ovaries that was potentially cancerous. It was a double whammy and I soon regretted
                not bringing reinforcement to this “normal” appointment. After consoling me and explaining the next steps, my
                doctor shuttled me to a back door that leads directly to the parking lot. This door is where women go to avoid
                exiting through the waiting room when things don’t end well for you. Little did I know, this wouldn’t be the only
                time I’d use this door, it became a staple in most appointments thereafter.
            </p>
            <p class="justify-content-center">
                After two weeks of miscarrying, test results showed that the cyst was not cancerous and I was scheduled for surgery.
                Surgery went well and we got pregnant after the “all clear” from my doctor. Once we hit the 12 week mark, “the safe zone”,
                I bought Taylor a, “I’m going to be a big brother” shirt and we told our family and friends the good news. On March 6th,
                at 16 weeks pregnant, the thought of bringing home our rainbow baby came crashing down. I was sitting at my desk at work
                when I saw my doctor’s number come across my phone. I had done routine blood work the week before and I knew the fact that
                she was calling me meant something was wrong. I immediately got up and closed my office door. I don’t remember how the
                conversation started or most of what she said, but what I do remember were the words, “the baby has a condition that is not
                compatible with life”. The tears streamed down my face. She told me the bloodwork indicated the sex of the baby too and asked
                me if I wanted to know the gender, I clearly remember giving her a stearn, “No”. If I couldn’t take this baby home either,
                there was no need to know the gender. Her rebuttal to my stubborn, heartbroken response was simple, “This baby has a purpose
                and she has a story to tell”. I was crushed, I pretended not to hear the “she” embedded in her words. The girl I’d always
                longed for, the ruffle butts, the painted nails, the giant bows, the wedding dress shopping, was all taken away with one
                diagnosis, Trisomy 18.
            </p>
            <p class="justify-content-center">
                One week later, March 13th 2019, at 17 weeks pregnant, a 3D ultrasound and specialist confirmed what the week prior’s blood work indicated, Trisomy 18. 
                The specialist sat us down and gave us our options, we could terminate the pregnancy or choose to carry.
                After talking to our priest, we scheduled time for the following Monday for Jason and I to go back in together, 
                making the decision to terminate or carry wasn't something to take lightly and we needed to be on the same page. A few 
                days later, I received a call from our specialist, just checking in on us, and I asked him what our families and friends 
                were suggesting we do and what our priest had to say. He told me, just based on what I was saying, that I had made a decision 
                and I just wasn’t ready to say it aloud just yet. He was right.
                Over the next few months, our world revolved around doctor's appointments; Was there still a heartbeat, was she growing, would we make it to full term?

            </p>
            <p>
                On May 25th, 2019, our daughter, Aylee Katelynn Grace, was stillborn and we realized very quickly that grief is ugly, it can be
                raw and isolating if you aren’t surrounded by the right people.
            </p>
            <p>
                Our "village" of family and friends, and the families that we've met along the way, have made dealing with our losses more bearable. 
                We will forever be grateful for their guidance, passion and advocacy.
            </p>    
            <p>
                In memory of Baby August and Aylee, "Your wings were ready, but our hearts were not."
            </p>
                

            
            

        </div>
    </div>
    
    
</section>


@code {

}
