@using AyleesAngels.Shared.Models;
@using AyleesAngels.Shared.Utils;


@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager


@page "/"

<div class="hero">
    <Jumbotron  />
</div>
    

<div class="container">
    <AAHeader Heading="Latest News" SubHeading="Recent Posts" ></AAHeader>
    <div class="row text-center">
        <div class="col-lg-8 col-md-10 mx-auto ">
            @foreach (var post in blogPosts)
            {
                <BlogPostPreview BlogPost=@post></BlogPostPreview>
                
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link d-inline" href="@($"/editpost/{post.Id}")">
                            <button class="btn btn-small btn-warning">Edit</button>
                        </NavLink>
                        <button class="btn btn-danger btn-small d-inline" @onclick="() => DeletePost(post.Id)">Delete</button>
                    </Authorized>
                </AuthorizeView>
                
                
            }
            
        </div>
    </div>
</div>



@code {



    protected List<BlogPost> blogPosts { get; set; } = new List<BlogPost>();


    protected override async Task OnInitializedAsync()
    {

        await LoadBlogPosts();
    }

    private async Task LoadBlogPosts()
    {
        try
        {
            var blogPostsResponse = await ClientFactory.CreateClient("AyleesAngels.ServerAPI.Guest")
                .GetFromJsonAsync<ServiceResponse<List<BlogPost>>>(Urls.BlogPosts);
            //blogPosts = blogPostsResponse.OrderByDescending(p => p.Posted).ToList();
            blogPosts = blogPostsResponse.Data.OrderByDescending(p => p.Posted).ToList();



        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    private async Task DeletePost(int postId)
    {
        var response = await ClientFactory.CreateClient("AyleesAngels.ServerAPI").DeleteAsync(Urls.DeleteBlogPost.Replace("{id}", postId.ToString()));

        await LoadBlogPosts();

    }

}