

<div class="col-lg-8 col-md-10 mx-auto mt-2">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a href="https://www.facebook.com/ayleesangels/">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                Facebook
            </a>
        </li>
        <li class="list-inline-item ">
            <a href="https://www.instagram.com/ayleesangels">
                <img class="img-fluid" src="Images/LogoInstagram.png" alt="Instagram logo" />
                <span class="instagram-label">Instagram</span>

            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.amazon.com/hz/wishlist/ls/S9BTRB8OK6D5/ref=cm_go_nav_hz">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-amazon fa-stack-1x fa-inverse"></i>
                </span>
                Amazon Wish List

            </a>
        </li>
    </ul>

    <p class="copyright text-center">Copyright © Aylee's Angels, Inc. 2021</p>
    <div class="text-center">
        <LoginDisplay />
    </div>
    
</div>

@code {

}
