<div class="jumbotron text-center mb-0">
    <h1>Aylee's Angels, Inc.</h1>
    <p>Our goal is to provide bereavement boxes and keepsakes to families that experience miscarriage, stillbirth or infant loss.</p>
</div>
<div class="container text-center">
    <Logo />
</div>

@code {

}
