@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">


        </div>*@

    

    <div class="main">
        <header >
            <Navbar />
        </header>

        <div class="content  min-vh-100">
            @Body
        </div>
        <div class="footer">
            <Footer />
        </div>
    </div>

</div>
